/* You can add global styles to this file, and also import other style files */
/* PrimeUIX theme (choose the theme name you prefer; example uses aura) */
// @use '@primeuix/themes/dist/aura/' as *;

// @use '@primeuix/themes/aura/theme' as *;

/* PrimeIcons */
@import 'primeicons/primeicons.css';

/* PrimeFlex */
@import 'primeflex/primeflex.css';
